
body{
 background-color: rgb(242, 236, 236);
 margin-left: 50px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
}

.parent{
      height:300px;
      width:300px;
      border: 1px rgb(87, 80, 80) solid;
      border-radius: 40px;
      margin-top: 20px; 
      background-color: rgb(203, 184, 184);
}
.top{
    display: flex;
    height: 20%;
    width: 100%;
    

}
.top img{
      height: 40px;
      width: 40px;
    margin-top: 20px;
      margin-left: 15px;
}
.save{
    height: 40px;
    width: 60px;
    margin-left: 160px;
   margin-top: 15px;
   border-radius: 10px;
    background-color: rgb(227, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    color:rgb(92, 77, 49);  
}
.com{
    margin-left: 15px;
    font-size: 17px;
    color:rgb(92, 77, 49);
    margin-top: 10px;  

}
.position{
    margin-top: 3px;
     margin-left: 15px;
    font-size: 20px;
    color:rgb(47, 46, 44);  

}
.mid{
    height: 22%;
    width: 100%;
    display: flex;
    margin-top:3px;
    

}
.nature{
      width: 23%;
      height:35%;
      margin-left: 15px;
      border: 1px;
      background-color: rgb(227, 223, 223);
      border-radius:4px;
      display: flex;
      align-items: center;
      justify-content: center;
       font-family:Arial, Helvetica, sans-serif;
        color:rgb(92, 77, 49); 
        font-size: 14px;
}
.level{

  width: 30%;
      height:35%;
      margin-left: 2px;
      border: 1px;
      background-color: rgb(227, 223, 223);
      border-radius:4px;
      display: flex;
      align-items: center;
      justify-content: center;
       font-family:Arial, Helvetica, sans-serif;
        color:rgb(92, 77, 49); 
            font-size: 14px;
        }
        .bot{
            width:100%;
            display: flex;
            margin-top: 50px;
            height: 10%;
            
        }
        .salary{
            width: 20%;
            margin-left: 15px;
            height: 90%;
            font-size: larger;
            color:rgb(47, 46, 44);
            font-weight:bold;  
            padding-top: 6px;
        }
        .button{
            width:30%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 40%;
             background-color: rgb(227, 223, 223);
             border-radius:6px;
              color:rgb(92, 77, 49); 

        }
        .loc{
            padding-left: 15px;
            font-size: 13px;
             color:rgb(92, 77, 49); 
        }
